#解析のために保存しているため、clientから始まるすべてのフォルダはいらない
.git/
client*/
memo/txt/
Unique Swords*/
[mM]oondia*/
[oO]fficial*/
[tT]eraria*/
[bB]lade*/
[rR]eforge*/
mc120x_skill_based_pvp_resource/assets/*/textures/
mc120x_skill_based_pvp_resource/assets/*/sounds/
